@import "paper/variables";

.campaign-card .card-elem-bonus {
  margin: 15px auto;
  border-radius: 4px;
  border: 1px solid $custom-color-elem-bonus;
  min-height: 400px;

  .block-img-elem {
    background: $custom-color-elem-bonus;
    height: 260px;
  }

  .block-data-elem {
    padding: 20px;

    p {
      color: $custom-color-inputs;
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 0;
      line-height: 20px;
    }

    .block_btns_bonus {
      margin-top: 15px;
    }

    .block-status-elem {

      .custom_btn_form {
        float: right;
        max-width: 130px;
        padding: 8px 12px;
        min-height: 36px;
      }

      .reject_bonus {
        background: transparent;
        float: left;
        max-width: 130px;
        color: $custom-color-btn-bonus;
        text-transform: none;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}