@import "paper/variables";

.show.fade {
  opacity: 1 !important;
}
* {
  box-sizing: border-box !important;
  outline: none;
  font-family: 'Rubik', sans-serif;
}
#navbar_paper {
  background: $bg-color-main;
}

#logo_svg {
  position: absolute;
  left: 25px;
  top: 10px;
}

#navbar_paper .navbar-nav a {
  color: rgba(255, 255, 255, 0.54);
}

#navbar_paper .dropdown-menu a {
  color: $bg-color-main;
}

#add_action_sidebar {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  a{
    color: white;
    display: block;
    font-size: 12px;
    padding: 10px 22px;
  }
  background: $bg-color-main;
  margin: 30px 25px 15px 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  padding: 0;

  width: calc(100% - 50px);

  i {
    font-size: 9px;
    font-weight: bold;
  }

  &:hover {
    background: $bg-color-main-darken;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.content-panel-tabs {
  border-bottom: 1px solid #E1E2E4;
  padding: 0;

  .content-tab {
    display: inline-block;
    margin: 0px 5px;

    &:first-child {
      margin-left: 0;
    }

    a {
      padding: 15px 40px 12px 40px;
      display: block;
      text-transform: uppercase;
      font-size: 12px;

      &.active {
        color: $bg-color-main;
        border-bottom: 3px solid $bg-color-main;
      }
    }
  }
}

.content-filter {
  margin: 15px;
  border: 1px solid #D4D5D7;
  border-radius: 5px;
  position: relative;

  .dropdown {
    list-style: none;
    display: inline-block;
    width: 105px;
    padding: 8px 15px;
    margin-right: 10px;
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(210, 210, 210, 0.4) 154.55%);
    background: -moz-linear-gradient(to bottom, #FFFFFF 0%, rgba(210, 210, 210, 0.4) 154.55%);
    background: -o-linear-gradient(to bottom, #FFFFFF 0%, rgba(210, 210, 210, 0.4) 154.55%);
    background: -webkit-linear-gradient(to bottom, #FFFFFF 0%, rgba(210, 210, 210, 0.4) 154.55%);

    .notification {
      margin: 0;
      font-size: 14px;
      position: relative;

      .caret {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3px;
      }
    }
  }

  .content-value-filter {
    width: calc(100% - 180px);
    min-width: 150px;
    border: none;
    padding: 8px 15px 8px 20px;
    font-size: 14px;
    &::-webkit-input-placeholder {
      color: #c8c9cb;
      font-style: italic;
    }
    &::-moz-placeholder {
      color: #c8c9cb;
      font-style: italic;
    }
    &:-ms-input-placeholder {
      color: #c8c9cb;
      font-style: italic;
    }
  }
  .label-content-value-filter {
    cursor: pointer;
    position: absolute;
    top: 10px;

    i {
      margin-left: -3px;
    }
  }
}

#pagination-custom {
  text-align: center;

  .pagination-sm>li>a {
    font-weight: 500;
  }
  .pagination-sm>li:last-child>a,
  .pagination-sm>li:first-child>a,
  .pagination-sm>li:first-child span,
  .pagination-sm>li:last-child span
  {
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
  }

  .page-link {
    background-color: transparent;
    color: $info-color;
    border: none;
    font-size: 14px;

    &:focus {
      outline: none;
    }

    &.btn-primary {
      color: $pagination-active-link;
    }
  }
}

#campaingsTable td>a {
  color: $link-product;

  &:hover {
    color: $bg-color-main;
  }
}

#navbar_paper {
  #dropDownUser {
    border-left: 1px solid #BD4013;
    padding-left: 40px;
    position: relative;
    min-width: 200px;

    .dropdown-toggle {
      color: white;
    }

    &:before {
      position: absolute;
      content: '';
      left: 20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: white;
      background-image: url('/static/img/faces/face-2.jpg');
      background-size: 30px;
      top: 50%;
      margin-top: -15px;
    }
  }
}

.campaign-card {
  padding: 30px;
}

.pre-header-card {
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  margin-bottom: 30px;

}



  .campaign-card {
    .form-group {
      padding: 5px 0;

      &.form-group-sm {
        width: calc(50% - 8px);
      }

      textarea {
        resize: none;
        height: 120px;
        color: $custom-color-inputs;
        border: $custom-border-form;
        width: 100%;
        padding: 10px 18px;
        border-radius: 4px;

        &::-webkit-input-placeholder {
          color: $custom-form-color;
          font-style: italic;
        }
        &::-moz-placeholder {
          color: $custom-form-color;
          font-style: italic;
        }
        &:-ms-input-placeholder {
          color: $custom-form-color;
          font-style: italic;
        }
      }

      .label_checkbox {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        display: block;
        &:before {
          position: absolute;
          content: '';
          width: 24px;
          left: 0;
          height: 24px;
          border-radius: 4px;
          border: $custom-border-form;
        }
      }

      .custom_btn_form {
        padding: 16px 14px;
        text-transform: uppercase;
        background: $custom-form-color;
        border-radius: 4px;
        max-width: 175px;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        min-height: 50px;
        display: block;
        width: 100%;
        color: #000;
        margin-bottom: 5px;
        font-weight: 500;
        border: none;

        &:focus,&:active {
          background: darken($custom-form-color, 10);
        }
      }

      input[type=checkbox]:checked + label:before {
        background: $custom-form-color;
      }

      .label_form_group {
        font-size: 14px;
        color: $custom-color-inputs;
        margin-bottom: 5px;
        font-weight: 500;
        display: block;

        &.custom_btn_form {
          font-size: 12px;
        }
      }

      input[type='text'], input[type='date'] {
        height: 50px;
        border: $custom-border-form;
        border-radius: 4px;
        padding: 10px 18px;
        color: $custom-color-inputs;
        width: 100%;

        &.input_width_auto {
          width: auto;
          display: inline-block;
          min-width: 200px;
          vertical-align: bottom;
        }

        &::-webkit-input-placeholder {
          color: $custom-form-color;
          font-style: italic;
        }
        &::-moz-placeholder {
          color: $custom-form-color;
          font-style: italic;
        }
        &:-ms-input-placeholder {
          color: $custom-form-color;
          font-style: italic;
        }

      }

      select {
        border: $custom-border-form;
        border-radius: 4px;
        color: black;
        background: transparent;
        height: 50px;
        &.select_width_auto {
          width: auto;
          display: inline-block;
          min-width: 200px;
          vertical-align: bottom;
        }

        option {
          color: black;
        }
      }

      .form-group-part {
        display: inline-block;
        width: calc(50% - 8px);
        &.noneFloat select, &.noneFloat input {
          display: block;
          width: 100%;
        }
        &:first-child {
          margin-right: 10px;
        }
        &:last-child:not(.noneFloat) {
          float: right;
        }
        &.part-sm {
          width: 200px;
          max-width: calc(50% - 8px);
          &:last-child {
            float: none;
          }
        }
      }
    }
  }

  select#select_lang {
    display: inline-block;
    float: left;
    background: transparent;
    color: rgba(255, 255, 255, 0.54);
    padding: 18px 5px;
    padding-left: 25px;
    height: 100%;
    width: 70px;

    &>option {
      color: black !important;
    }
  }

  .custom-divider-form {
    height: 1px;
    background: $custom-form-color;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #photo_product {
    display: none;
  }

  .floatRight {
    float: right !important;
  }


  // nav
  .router_sidebar_child {
    margin-left: 55px;
    li a {
      display: block;
    }
  }
