@import "paper/variables";

h2, h1, h3, h4 {
  margin: 0 auto;
  text-align: center;
  color: white;
}

#admin_header_name {
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}