@import "paper/variables";

* {
  box-sizing: border-box !important;
}
#navbar_paper {
  background: $bg-color-main;
}

#logo_svg {
  position: absolute;
  left: 25px;
  top: 10px;
}

#navbar_paper .navbar-nav a {
  color: rgba(255, 255, 255, 0.54);
}

#navbar_paper .dropdown-menu a {
  color: $bg-color-main;
}

#add_action_sidebar {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: $bg-color-main;
  margin: 30px 25px 15px 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: white;
  display: block;
  font-size: 12px;
  padding: 10px 22px;
  width: calc(100% - 50px);

  i {
    font-size: 8px;
  }

  &:hover {
    background: $bg-color-main-darken;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.content-panel-tabs {
  border-bottom: 1px solid #E1E2E4;
  padding: 0;

  .content-tab {
    display: inline-block;
    margin: 0px 5px;

    &:first-child {
      margin-left: 0;
    }

    a {
      padding: 15px 40px;
      display: block;
      text-transform: uppercase;
      font-size: 12px;

      &.active {
        color: $bg-color-main;
        border-bottom: 3px solid $bg-color-main;
      }
    }
  }
}

