.modal-backdrop {display: none !important;}
.modal.fade.show {opacity: 1; display: block !important;}
.modal-dialog {margin-top: 15%}
.modal {background: #000000a8}

.modal input.el-input__inner {
    border: 2px solid #89898b;
    padding: 3px 5px;
}