#navVue {
  padding: 20px 10px;
  text-align: center;

  .links a {
    padding: 8px 6px;
    margin: 5px auto;
  }
}

#app {
  text-align: center;
  margin: 0 auto;

  .title {
    font-size: 36px;
    text-align: center;
  }
}

#currUser {
  font-family: cursive;
  font-size: 30px;
  color: #6267f6;
}
