// core overrides


$color-bg-body:                         #f0f0f0 !default;

// colors
$color_link_simple:                     #fff;

$color_text_common:                     #28313B !default;

$main-color:                            #BD4013 !default;

$navbar-brand-bg:                       $main-color !default;
$navbar-color:                          #fff !default;
$navbar-hover-color:                    #ffa382 !default;
$navbar-active-color:                   #ffa382 !default;

$sidebar-bg:                            #fff !default;
$sidebar-nav-link-color:                #000 !default;
$sidebar-nav-link-active-color:         #fff !default;
$sidebar-nav-link-hover-color:          #fff !default;
$sidebar-nav-link-hover-bg:             $main-color !default;
$sidebar-nav-link-active-bg:            $main-color !default;

$sidebar-nav-link-icon-color:           #000 !default;
$sidebar-nav-link-active-icon-color:    #fff !default;
$sidebar-nav-link-hover-icon-color:     #fff !default;

$sidebar-nav-dropdown-indicator-color:  #fff !default;
$sidebar-nav-dropdown-bg:               rgba(189, 64, 19, 0.65) !default;

// sizes
$navbar-brand-logo-size:                85% auto !default;

// typography
$h-color :                              $color_text_common !default;
$h-2-size:                              32px !default;
$h-2-margin-bottom:                     30px !default;


$secondary:                             #D8D8D8 !default;

// table
$active-field-color:                    rgba(189, 64, 19, 0.65) !default;

$gray-color:                            #707070 !default;
$black-color:                           #000 !default;

$color_list:                            #686F76 !default;