#modalOffer {
  text-align: center;

  #form_sendOffer {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 10px !important;
    margin-top: 20px;
  }

  h5 {
    color: #a4b7c1;
    font-weight: normal;
  }
  .modal_indluencer_name {
    margin-bottom: 30px;
  }

  .sendOfferModal {
    margin-top: 15px;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 3.75rem auto;
  }
}

