// tables

table.table td, table th, table tr{
  vertical-align: middle;
}

.tab-content {
  border: none;
}

.custom_btn_change {
  padding: 0px;
  background: transparent;
  border: 0;

  &:active, &:hover, &:focus {
    background: transparent !important;
    box-shadow: none !important;

    i {
      color: $main-color;
    }
  }

  i {
    color: black;
    font-size: 15px;
  }
}

thead .sorting {
  font-weight: 500;

  &:hover, &:active, &:focus, &.sorting_asc, &.sorting_desc {
    background: $main-color;
    color: white;
  }
}

.fa.fa-star {
  margin: 0 2px;
  color: #D8D8D8;
}
.fa.fa-star.star_active {
  color: $main-color;
}